@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(101.07deg, #2E3C87 7.93%, #6A1094 93.3%);
    font-family: 'Nunito', sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

.container {
    text-align: center;
    color: white;
    height: 100vh;
}

.container .profile img {
    border-radius: 50%;
    height: 105px;
    margin: 20px;
}

.container .profile h1 {
    font-size: 18px;
}

.container .profile .subtitle {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    margin: 5px;
}

.container .profile .subtitle span {
    display: block;
}

.container .profile p {
    margin: 5px;
}

.container .info-content {
    position: relative;
    background: white;
    border-radius: 50px 50px 0 0;
    height: 100vh;

    margin-top: 40px;
}

.container .info-content .socials {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgba(155, 155, 155, 0.2);
    border-radius: 50px;
    position: absolute;

    top: -35px;
    left: calc(50% - 80px);
    
    padding: 10px;
    
}

.container .info-content .socials a img {
    height: 38px;
    background: white;
    border-radius: 50%;
}

.container .info-content .socials a+a img {
    margin-left: 25px;
}

.container .info-content .content {
    padding-top: 40px;
}

.container .info-content .content .link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #6a109444;
    background: white;

    font-weight: 700;

    text-decoration: none;
}

.container .info-content .content .link:hover {
    font-size: 20px;
    background: #724a850e;
}